/* font-family: 'PT Sans', sans-serif; */

body {
    font-family: 'PT Sans', sans-serif;
    color: #010101;
}


/* header start */

header {
    background-color: #fcdb00;
    padding: 15px 0;
}

.menu {}

.menu ul {}

.menu ul li {}

.menu ul li a {
    font-size: 22px;
    font-weight: 700;
    color: #010101 !important;
    padding: 0 50px !important;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
}

.menu ul li a:hover {
    color: white !important;
}

.menu ul li:last-child a {
    padding-right: 0 !important;
}


/* header end */


/* slider start */

.slider {
    background-color: #fcdb00;
    padding-bottom: 100px;
}

.cid {
    bottom: -80px;
}

.cid li {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.s_content {
    margin-top: 60px;
}

.s_content h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.s_content h2 {
    font-size: 20px;
    font-weight: 400;
    color: #313841;
    margin: 20px 0;
}

.s_content p {
    color: #555555;
    margin-top: 0;
    margin-bottom: 30px;
}

.s_icon {}

.s_icon li i {
    font-size: 42px;
    margin-right: 20px;
    transition: .3s;
}

.s_icon li i:hover {
    color: white;
}

.s_img {}

.s_img img {}


/* slider end */


/* features start */

.features {
    padding-top: 80px;
    padding-bottom: 100px;
}

.c_title {}

.c_h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.c_p {
    font-size: 20PX;
    color: #313841;
    line-height: 25px;
    letter-spacing: 2px;
}

.s_icon {
    font-size: 50px;
}

.s_text {}

.m_t_60 {
    margin-top: 60px;
}

.s_text h2 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 13px;
}

.s_text p {
    color: #898989;
    letter-spacing: 1px;
}


/* features end */


/* contact start */

.contact {
    background-color: #010101;
    padding-top: 80px;
    padding-bottom: 100px;
}

.yellow {
    color: #fcdb00;
}

.ash {
    color: #898989;
}

.f_form {
    margin: 30px 0 60px
}

.f_email {
    width: 100%;
    height: 50px;
    font-family: 'PT Sans', sans-serif;
    color: #898989 !important;
    border: none;
}

.f_email:focus {
    outline: 0;
    box-shadow: none;
}

.f_submit {
    width: 100%;
    height: 50px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #010101;
    background-color: #fcdb00;
    text-transform: capitalize;
    border: none;
    transition: 0.3s;
}

.f_submit:hover {
    background-color: white;
}

.f_submit:focus {
    outline: 0;
    box-shadow: none;
}

.c_icon {}

.c_icon li i {
    font-size: 42px;
    color: #fcdb00;
    margin-right: 15px;
    transition: .3s;
}

.c_icon li i:hover {
    color: white;
}

.c_icon li:last-child i {
    margin-right: 0;
}


/* contact end */


/* footer start */

.footer {
    background-color: #010101;
    padding-bottom: 100px;
}

.f_1 {
    color: #ffffff;
}

.f_1 p {
    margin: 0;
}

.f_1 p a {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

.f_1 a:hover {
    color: #fcdb00;
}


/* footer end */